body{
	margin: 0;
	font-family : Arial
}

header {
	text-align: left;
	font-size: 5em;
	background-image: url(curve-header2.png);
	background-size: 100% 100%;
	margin: 0;
	padding: 0% 0% 10% 0%;
}

img{
	float: left;
	width: 10%;
	margin: 1% 0% 0% 4%;
}


#menu, #menu ul /* Liste */
{
	background: rgb(204, 51, 51); /* couleur de fond */
	padding: 0; /* pas de marge intérieure */
	margin: 0; /* ni extérieure */
	list-style: none; /* on supprime le style par défaut de la liste */
	text-align: center; /* on centre le texte qui se trouve dans la liste */
}


#menu /* Ensemble du menu */
{
	font-weight : bold; /* on met le texte en gras */
	font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
	font-size : 15px; /* hauteur du texte : 12 pixels */
}


#menu a /* Contenu des listes */

{
	display : inline-block; /* on change le type d'élément, les liens deviennent des balises de type block */
	padding : 0; /* aucune marge intérieure */
	background : rgb(204,51,51); /* couleur de fond */
	color : #fff; /* couleur du texte */
	text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
	width : 100%; /* largeur */
}
.linav {
	display: inline-block;
	font-size: 1.3em;
	padding-left: 0px;
	width: 19.78%;
	text-align: center;
}



#menu li ul /* Sous-listes */
{
	position: absolute; /* Position absolue */
	width: 19.78%; /* Largeur des sous-listes */
	left: -999em; /* Hop, on envoie loin du champ de vision */
}

#menu li ul ul
{
	margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */
	/* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
	left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
	left: auto; /* Repositionnement normal */
	min-height: 0; /* Corrige un bug sous IE */
}

#menu a{

	display: inline-block;
	padding : 0;
	background : rgb(204,51,51); /* Couleur du fond, actuellement = noir */
	color : #fff; /* Couleur du texte, actuellement = blanc */
	text-decoration : none;
}
/* Inversement des couleurs lorsque la souris passe */


#menu a:hover
{
	color : rgb(204,51,51); /* Noir */
	background : #fff; /* Blanc*/
}

div{

}

#trie{
	padding: 0% ;
	padding: 0% ;
}

.t{
	display: inline-block;
	width: 30%;
	text-align: center;
	padding: 0.5% 0%;
}
.t a {
	background:  rgb(204,51,51);
	display: inline-block;
	color: #fff;
	font-size: 1.1em;
	padding: 1% 20%;
}
.t a:hover
{
	color : rgb(204,51,51); /* Noir */
	background : #fff; /* Blanc*/
}
.pre{
	margin: 5% 10% 10% 10%;
}
.pre h1{
	text-align: center;

}
.pic{

	display: block;
	width: 70%;
	margin: 0% 15% 0% 15%;
}
#section1 div{

}

#section1 img{
	float:left;
	width: 50%;
	margin: 0% 25% 0% 25%;
	max-height: 180px;
	min-height: 100px;
}


#section1 p{

}
.prod {
	display: inline-block;
	float: none;
	margin: 0% 0% 0% 0%;
	width: 30%;
}
.prod img{
	width:60%;
}
.detail{
	font-size: 1.1em;
	display: inline-block;
	width: 50%;
	margin: 5% 0% 0% 0%;
}

.nom {
	text-align: inherit;
	font-weight: bold;
}

.nom a {
	color : #000; /* couleur du texte */
	text-decoration : none;
}
.desc p{
	display: inline-block;
	margin-right: 5%;
}
.imR {
	float: none;
	margin: 0% 0% 0% 0%;
	width: 30%;
}
.imR  img{
	max-height: 120px;
	min-height: 100px;
}


.prix p{
	display:inline-block;
	width: 20%;
	font-size: 1.3em;
}
form{
	display:inline-block;
}
button{
	color: white;
	display: inline-block;
	background: rgb(204,51,51);
	font-size: 1.3em;

}
a{
	text-decoration : none;
	color:black;
}
footer {
	background-color: black;
	color: white;
	padding-left: 10px;
	text-align: center;
}

.Foot{
	display: inline-block;
	width: 30%;
	font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
}

.Foot ul{

	list-style : none; /* on supprime le style par défaut de la liste */
	text-align : left; /* on centre le texte qui se trouve dans la liste */

}
.Foot a{

	display : inline-block; /* on change le type d'élément, les liens deviennent des balises de type block */

	padding : 0; /* aucune marge intérieure */
	color : #fff; /* couleur du texte */

	text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */

	width : 100%; /* largeur */

}

@media screen and (max-width: 700px) {

	header {
		padding: 0% 0% 20% 0%;
		background-image: url(curve-header3.png);

	}
	img{
		width: 20%;
		margin: 1% 0% 0% 40%;
	}



	.pre{
		margin: 10% 10% 10% 10%;
	}
	.pic{

		display: block;
		width: 70%;
		margin: 0% 15% 0% 15%;

	}
	#section1 div{

		margin: 2% 5% 2% 5%;
		display: block;
		width: 90%;
	}

	#section1 p{

	}
	.prod{
		float:none;
		display: block;
		margin: 0% 25% 0% 25%;
		width: 50%;
	}
	.prod img{
		width:60%;
		margin: 2% 20% 0% 20%;
	}
	.detail{
		display: block;
		width: 70%;
		margin: 0% 15% 0% 15%;
	}
	.detail p {
		margin: 0% 15% 0% 15%;
	}
	.prix p{
		font-size: 1.1em;
		display: block;
		margin: 0% 40% 0% 49%;
		width: 15%;
	}
	button{
		font-size: 1em;
		margin: 0% 35% 0% 35%;
	}

}
@media screen and (max-width: 630px) {
	#menu li ul {
		width: 49%;
	}

	.linav {
		width: 49%;
	}

	nav, div {
		font-size: 14px;
	}

	.prix p {
		font-size: 1.3em;
		width: 25%;
		display: block;
		margin: 0% 0% 0% 33%;
		text-align: right;
	}

	button {
		width: 90%;
		display: block;
		margin: 3% 5% 0% 5%;
	}


}

@media screen and (max-device-width: 300px) {

	#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
	{
		display: none;
	}

	#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
	{
		display: none;
	}

	.linav {

		width: 80%;

	}

	#menu li ul{


		width: 80%; /* Largeur des sous-listes */


	}

}
